/*          Page properties          */

* {
   margin: 0;
   padding: 0;
}

a, input, button {
   outline: 0;
}

.page-wrapper {
   height: 600px;
}

/*          ToDo List section          */

.todo-wrapper {
   text-align: center;
}

.toDo {
   display: inline-block;
   width: 400px;
   margin-top: 100px;

   font-family: 'Montserrat', sans-serif;
}

.toDo__new {
   width: 300px;
   padding: 3px;
   padding-left: 5px;

   font-size: 20px;

   border-radius: 3px;
   border: 1px solid #6AB098;
}

.toDo__new:focus {
   border-color: rgb(184, 215, 58);
   box-shadow: 0 0 5px rgb(184, 215, 58);
}

.toDo__list {
   padding: 15px;

   list-style: none;
}

.toDo__counter {
   display: block;
   margin-top: 15px;

   text-align: left;
}

/*          ToDo item          */

.toDo__item {
   position: relative;
   display: block;
   margin: 5px 0;
   padding-bottom: 3px;

   text-align: left;

   border-bottom: 1px dotted #ccc;
}

.toDo__edit {
   width: 100%;
   padding: 3px;
   padding-left: 5px;

   font-size: 16px;
   font-family: 'Montserrat', sans-serif;

   border-radius: 3px;
   border: 1px solid #6AB098;
   box-sizing: border-box;
}

.toDo__editing {
   margin-left: 3px;
}

.toDo__remove {
   position: absolute;
   right: 0;
   height: 20px;
   width: 17px;

   background: url('../img/cross.png') no-repeat;
   background-size: 85%;

   border: 0;
}

.toDo__remove--hidden {
   display: none;
}

.toDo__remove:hover {
   cursor: pointer;
}
